body{
	background: url("images/bg.jpg")fixed 0 0/100% 100%;
}
header{
	min-height: 100px;
}
.btn{
	margin-top: 10px;
	padding: 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.btn:hover{
	padding: 15px 25px;
}

/* login */
.center{
	margin-top: 150px;
}
.center h1{
	margin-bottom: 20px;
}
.center p{
	margin-top: 20px;
}
.center p span a{
	color: #DD4C39;
	font-weight: bold;
	text-decoration: none;
}
.login{
	background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
	-webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
	padding: 50px;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
}

input[type="text"],input[type="password"]{
	background: rgba(255, 255, 255,.5);
	margin: 10px 0;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
input[placeholder]{
	color: #FFFFFF;
	font-weight: bold;
}
input::-webkit-input-placeholder {
color: #FFFFFF !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: #FFFFFF !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #FFFFFF !important; 
}
 
input:-ms-input-placeholder {  
color: #FFFFFF !important;  
}
.enter,.sign_up{
	margin-top: 30px;
	color: #ffffff;
	background: #FF3366;
	border: 1px solid #FF3366;
	border-radius: 20px;	
	font-weight: bold;
	
}
.sign_up{
	margin-top: 10px;
}